<!-- navigation.html -->

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('informaciones') }}"> Mini-market Don Juanito | </a>
            {% if username %}
                {%if cargo==2%}
                    <span class="navbar-brand">Bienvenido, estas logueado como: <strong>{{username}}</strong> | Sucursal: <strong>{{sucursal}}</strong> | Caja: <strong>{{caja}}</strong>  </span>
                {%else %}
                    <span class="navbar-brand">Bienvenido, estas logueado como: <strong>{{username}}</strong> | Sucursal: <strong>{{sucursal}}</strong> </span>
                {%endif %}                
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        {% if username %}
                            <a class="nav-link" href="{{ url_for('logout') }}">Salir</a>
                        {% else %}
                            <a class="nav-link" href="{{ url_for('index') }}">Ingresar</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
