<!-- sidebar.html -->

<aside class="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link text-dark" href="/empleados">
                <i class="fas fa-users"></i> Empleados
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/ventas">
                <i class="fas fa-chart-line"></i> Ventas
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="{{ url_for('productos') }}">
                <i class="fas fa-box"></i> Productos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/pedidos">
                <i class="fas fa-clipboard-list"></i> Pedidos
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/cliente">
                <i class="fas fa-users"></i> Clientes
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/sucursal">
                <i class="	fas fa-cart-plus"></i> Sucursales
            </a>
        </li>

    </ul>
</aside>
