/* static/styles.css */

body {
    background-color: #f8f9fa;
}

.list-group-item{
    padding: 12px;
}

/* Agregar estilos para hover en la barra lateral */
.nav-link.text-dark:hover {
    color: white; /* Cambiar el color a blanco */
    background-color: #b4b7b9; /* Cambiar el color de fondo en hover, puedes ajustar esto según tu preferencia */
    text-decoration: none; /* Eliminar subrayado en hover si lo hay */
}

/* Agregar padding a los elementos del sidebar */
.nav-link {
    padding: 12px; /* Ajusta el valor según sea necesario */
}

/* Ajustar el tamaño de fuente si es necesario */
.nav-link i {
    font-size: 20px; /* Tamaño de icono deseado */
}

.contenedor {
    display: flex;
}
.panel-izquierdo {
    flex: 1;
    max-height: calc(100vh - 130px);
    overflow-y: auto;
}

.nav-item.active a {
    background-color: #e9ecef;
}

.divider-with-text {
    position: relative;
    padding: 8px 0px 2px 0px; /* Espaciado entre líneas divisoras con texto */
    color: #777; /* Color del texto de la línea divisora con texto */
}

.divider-with-text:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #ccc; /* Color de la línea divisora */
    z-index: -1;
}


#turnosContainer{
    margin-bottom: 10px;
}
.card-body{
    padding: 4px 16px 0px 16px;
}
.panel-con-scroll{
    flex: 1;
    max-height: calc(100vh - 320px);
    overflow-y: auto;
}


.alert{
    margin-top: 4px;
    margin-bottom: 4px;
}

.flex-grow-1 {
    flex-grow: 1;
}
