{% extends "layouts/base.html" %}

{% block content %}   

<div class="row">
    <div class="col-md-3">

        <h2 class="mb-4">Cuadratura</h2>
         <!--Formulario para ingresara datos cuadratura de una caja -->
         <form method="post">
            {{ cuadratura_caja_form.hidden_tag() }}

            <div class="form-group mb-1">
                <label for="cod_sucursal">Codigo caja:</label>
                {{ cuadratura_caja_form.cod_caja(class="form-control", required=True, readonly="true") }}
                <label for="cod_sucursal">RUT empleado:</label>
                {{ cuadratura_caja_form.rut_empleado(class="form-control", required=True, readonly="true") }}
                <label for="cod_sucursal">Venta efectivo:</label>
                {{ cuadratura_caja_form.venta_efectivo(class="form-control", required=True, readonly="true") }}

                <label for="cod_sucursal">Saldo inicial:</label>
                {{ cuadratura_caja_form.saldo_inicial(class="form-control", required=True) }}
                <label for="cod_caja">Saldo final:</label>
                {{ cuadratura_caja_form.saldo_final(class="form-control", required=True) }}
            </div>
            

            <button type="submit" class="btn btn-primary" name="guardar">Guardar</button>
        </form>
    </div>
    <!-- Datos de cuadratura -->
    <div class="col-md-6 panel-izquierdo">
        <table class="table">
            <thead>
                <tr>
                    <th>Código cuadratura</th>
                    <th>Código caja empleado</th>
                    <th>RUT empleado</th>
                    <th>Saldo inicial</th>
                    <th>Venta en efectivo</th>
                    <th>Saldo final</th>
                    <th>Diferencia</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in datos_cuadratura %}
                        <tr>
                            <td>{{ dato[0] }}</td>
                            <td>{{ dato[1] }}</td>
                            <td>{{ dato[2] }}</td>
                            <td>{{ dato[3] }}</td>
                            <td>{{ dato[4] }}</td>
                            <td>{{ dato[5] }}</td>
                            <td>{{ dato[6] }}</td>
                            <td>{{ dato[7].strftime('%d-%m-%Y') }}</td>
                        </tr>
                    {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

{% endblock %}