{% extends "layouts/base.html" %}

{% block content %}

    {%if output == 1%}
    <h2>El proveedor de codigo: {{rut_proveedor}} ha sido eliminado de la base de datos</h2>
    {%elif output==-1%}
    <h2>El proveedor de codigo: {{rut_proveedor}} no se pudo eliminar de la base de datos</h2>
    {%elif output==-2292%}
    <h2>
        No fue posible eliminar el proveedor con el código {{codigo}} de la base de datos debido a su dependencia con otros datos.
    </h2>
    {% endif %}
    <a href="{{ url_for('proveedores')}}" class="btn btn-link text-dark">
        <i></i> Volver a Proveedores
    </a>
{% endblock %}