{% extends "layouts/base.html" %}

{% block content %}

    {%if output == 1%}
    <h2>La categoria de codigo: {{cod_categoria}}  ha sido eliminada de la base de datos</h2>
    {%elif output==-1%}
    <h2>La categoria de codigo: {{cod_categoria}}  no se pudo eliminar de la base de datos</h2>
    {%elif output==-2292%}
    <h2>
        No fue posible eliminar la categoría con el código {{cod_categoria}} de la base de datos debido a su dependencia con otros datos.
    </h2>
    {% endif %}
    <a href="{{ url_for('categoria')}}" class="btn btn-link text-dark">
        <i></i> Volver a Categorias
    </a>
{% endblock %}