{% extends "layouts/base.html" %}

{% block content %}

    {%if output == 1%}
    <h2>El empleado de Rut: {{rut}} ha sido eliminado de la base de datos</h2>
    {%elif output==-1%}
    <h2>El empleado de Rut: {{rut}}  no se pudo eliminar de la base de datos</h2>
    {%elif output==-2292%}
    <h2>
        No fue posible eliminar el cliente con el código {{rut}} de la base de datos debido a su dependencia con otros datos.
    </h2>
    {% endif %}
    <a href="{{ url_for('empleados')}}" class="btn btn-link text-dark">
        <i></i> Volver a Empleados
    </a>
{% endblock %}