{% extends "layouts/base.html" %}

{% block content %}    

    <div class="row contenedor">
        <!-- Sección lateral para agregar Empleados -->
        <div class="col-md-3">
            <h2 class="mb-4">Agregar</h2>
            
            <!-- Formulario para agregar un nuevo empleado -->
            <form method="post">
                {{ agregar_empleado_form.hidden_tag() }}

                <div class="form-group mb-1">
                    <label for="rut">Rut del empleado:</label>
                    {{ agregar_empleado_form.rut(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="Codigo_Sucursal">Codigo Sucursal:</label>
                    {{ agregar_empleado_form.cod_sucursal(class="form-control", required=True) }}


                </div>
                
                <div class="form-group mb-1">
                    <label for="cargo">Cargo del empleado:</label>
                    {{ agregar_empleado_form.cargo(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="nombre_empleado">Nombre del empleado:</label>
                    {{ agregar_empleado_form.nombre_empleado(class="form-control", required=True) }}
                </div>

                <div class="form-group mb-1">
                    <label for="apellido1_empleado">Apellido 1 del empleado:</label>
                    {{ agregar_empleado_form.apellido1_empleado(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="apellido2_empleado">Apellido 2 del empleado:</label>
                    {{ agregar_empleado_form.apellido2_empleado(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="Telefono">Telefono del empleado:</label>
                    {{ agregar_empleado_form.Telefono(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="Email">Email del empleado:</label>
                    {{ agregar_empleado_form.Email(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="user">Usuario del empleado:</label>
                    {{ agregar_empleado_form.user(class="form-control", required=True) }}
                </div>
                <div class="form-group mb-1">
                    <label for="passwd">Contraseña del empleado:</label>
                    {{ agregar_empleado_form.passwd(class="form-control", required=True) }}
                </div>

                <button type="submit" class="btn btn-primary" name="Agregar">Agregar</button>
            </form>
        </div>

        <!-- Sección para ver todos los productos -->
        <div class="col-md-9 panel-izquierdo">
            <h2 class="mb-4">Lista de Empleados</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Codigo Sucursal</th>
                        <th>Codigo Cargo</th>
                        <th>Nombre</th>
                        <th>Primer Apellido</th>
                        <th>Segundo Apellido</th>
                        <th>Telefono</th> <!-- Columna para las opciones -->
                        <th>Email</th>
                        <th>Usuario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for producto in productos %}
                        <tr>
                            <td>{{ producto[0] }}</td>
                            <td>{{ producto[1] }}</td>
                            <td>{{ producto[2] }}</td>
                            <td>{{ producto[3] }}</td>
                            <td>{{ producto[4] }}</td>
                            <td>{{ producto[5] }}</td>
                            <td>{{ producto[6] }}</td>
                            <td>{{ producto[7] }}</td>
                            <td>{{ producto[8] }}</td>
                            
                            <td>
                                <a href="{{ url_for('modificar_empleado', rut=producto[0]) }}" class="btn btn-link text-dark">
                                    <i class="fas fa-pencil-alt"></i> Modificar
                                </a>
                                <a href="{{ url_for('eliminar_empleado', rut=producto[0]) }}" class="btn btn-link text-dark" onclick="return confirm('¿Realmente desea eliminar?')">
                                    <i class="fas fa-trash"></i> Eliminar
                                </a>
                                

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
