{% extends "layouts/base.html" %}

{% block title %}  {% endblock %}

{% block content %}

    <div class="page-header">
        {% if username %}
            <h1>Hello World {{username}}!</h1>
            <p>You are logged in <br><a href="{{ url_for('logout') }}"><b></b>click here to log out.</b></a></p>
        {% else %}
            <h1>Hello World! </h1> 
            <p>You are not logged in <br><a href="{{ url_for('ingresar') }}"><b></b>click here to log in.</b></a></p>
        {% endif %} 
        
    </div>
    
{% endblock %}