{% extends "layouts/base.html" %}

{% block content %}
<h3 class="mb-4">Información general {%if cargo==1%}- Ventas hoy (descuentos): ${{ventas_hoy}} (${{descuentos_hoy}}){% endif %}</h3>
<div class="row contenedor">
    <div class="col-md-6">
        <h4 class="mb-4">Lista de Sucursales</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo Sucursal</th>
                    <th>Codigo Bodega</th>
                    <th>Nombre Sucursal</th>
                    <th>Telefono Sucursal</th>
                </tr>
            </thead>
            <tbody>
                {% for sucursal in sucursales %}
                    <tr>
                        <td>{{ sucursal[0] }}</td>
                        <td>{{ sucursal[1] }}</td>
                        <td>{{ sucursal[2] }}</td>
                        <td>{{ sucursal[3] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h4 class="mb-4">Lista de medios de pago</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for medio in medio_de_pagos %}
                    <tr>
                        <td>{{ medio[0] }}</td>
                        <td>{{ medio[1] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="col-md-6 panel-izquierdo">
        <div class="row">
            <div class="col-md-12">
                <!-- Contenido de la primera parte -->

                <h4 class="mb-4">Horarios</h4>

                <table class="table">
                    <thead>
                        <tr colspan="3">
                            <th>Código de Horario</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for horario in horarios %}
                            <tr data-bs-toggle="collapse" data-bs-target="#detalles{{ loop.index }}" aria-expanded="false" aria-controls="detalles{{ loop.index }}">
                                <td>{{ horario[0] }}</td>
                                <td>{{ horario[2].strftime('%Y-%m-%d') }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <div class="collapse" id="detalles{{ loop.index }}">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Fecha del Turno</th>
                                                    <th>Hora de Entrada</th>
                                                    <th>Hora de Salida</th>
                                                    <th>Hora de Inicio Colación</th>
                                                    <th>Hora de Término Colación</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for turno in horario[3] %}
                                                    <tr>
                                                        <td>{{ turno[2].strftime('%Y-%m-%d') }}</td>
                                                        <td>{{ turno[3].strftime('%H:%M:%S') }}</td>
                                                        <td>{{ turno[4].strftime('%H:%M:%S') }}</td>
                                                        <td>{{ turno[5].strftime('%H:%M:%S') }}</td>
                                                        <td>{{ turno[6].strftime('%H:%M:%S') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
          </div>
          
          <!-- Segunda fila -->
          <div class="row">
            <div class="col-md-12">
              <!-- Contenido de la segunda parte -->
            </div>
        </div>
    </div>
</div>

{% endblock %}
