{% extends "layouts/base.html" %}

{% block content %}

    <h1>Modificar Marca</h1>
    <div class="row">
        <div class="col-md-3">
            <form method="post">
                {{ modificar_marca_form.hidden_tag() }}

                <div class="form-group mb-1">
                    <label for="Nombre">Nombre de la marca:</label>
                    {{ modificar_marca_form.Nombre(class="form-control", required=True) }}
                </div>

                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            </form>
        </div>

        <div class="col-md-9">
            <h3>Datos Anteriores</h3> 
            <ul class="list-group">
                <li type="circle" class="list-group-item">Código de marca: {{ Cod_Marca[0] }}</li>
                <li type="circle" class="list-group-item">Nombre de la marca: {{ Cod_Marca[1] }}</li>
                <!-- Agrega más elementos según los campos de tu tabla -->
            </ul>
        </div>
    </div>

{% endblock %}