{% extends "layouts/base.html" %}

{% block content %}

    <span class="mb-0 text-muted">
        {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
        {% else %}
            Add your credentials
        {% endif %} 
    </span>

    <br />
    <br />

    {% if success %}
    <a href="{{ url_for('ingresar') }}" class="btn btn-primary shadow-2 mb-4">Sign IN</a>
    {% else %}

    <form role="form" method="post" action="">

        {{ form.hidden_tag() }}                    

        <div class="input-group mb-3">
            {{ form.username(placeholder="Username", class="form-control") }}
        </div>
        
        <div class="input-group mb-3">
            {{ form.email(placeholder="Email", class="input form-control", type="email") }}
        </div>

        <div class="input-group mb-4">
            {{ form.password(placeholder="Password", class="form-control", type="password") }}
        </div>
        
        <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

    </form>

    <p class="mb-0 text-muted">Already have an account? <a href="{{ url_for('index') }}">Login</a></p>


    {% endif %}

{% endblock %}